.home {
  display: flex;
  width: 100%;
  padding: 20px;
}
.cates {
  width: 200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
}
.cate {
  background-color: #f8f9fc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.list {
  margin-top: 20px;
}
.item {
  background-color: #dfdfec;
  padding: 10px;
  text-align: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}
.itemright {
  flex: 1;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  margin-left: 20px;
}
.row {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 20px;
}
.name {
  font-size: 13px;
  white-space: nowrap;
}

.remark {
  font-size: 15px;
}
