.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.cates {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.cate {
  background-color: #f3f5fe;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.item {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  cursor: pointer;
  width: 100%; /* danyi's one, zhenyi dont have*/
}
.right {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.name {
  font-size: 20px;
  font-weight: bold;
}

.remark {
  font-size: 15px;
}
.label {
  color: #888;
  margin-top: 40px;
  font-size: 15px;
}

.value {
  color: #000;
  font-size: 15px;
}
